header {
  width: 750px;
  margin: 2em auto 0;
  display: flex;
  justify-content: flex-end;
}
header a {
  min-width: 72px;
  line-height: 32px;
  text-align: center;
}
header .home {
  margin-right: auto;
  text-align: left;
}
