<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>关于我</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <h2>关于我</h2>
        <div>
            出生于江苏盐城，现居苏州，本科毕业于苏州大学，目前是一名前端web研发。平时喜欢读书，写代码，也喜欢看看动漫，打游戏。
        </div>
        <h3>联系方式</h3>
        <ul>
            <li>邮件: <a href="mailto:afei_gf@foxmail.com">afei_gf@foxmail.com</a></li>
            <li>GitHub: <a href="https://github.com/gfafei">https://github.com/gfafei</a></li>
        </ul>
    </div>
</body>
</html>
