<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>afei的个人网站</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <h3 class="main-title">日志</h3>
        <div class="main-content">
            <%journals.forEach(journal => {%>
                <div class="journal-item"><a href="<%- journal%>.html"><%- journal.substring(journal.lastIndexOf('/') + 1) %></a></div>
            <%})%>
        </div>
    </div>
</body>
</html>
