<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/markdown_github.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/journal.css">
</head>
<body>
    <article class="markdown-body"><%- journal %></article>
</body>
</html>
