<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>更多</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <%projects.forEach(project => {%>
            <h3><a href="<%=project.url%>"><%=project.name%></a></h3>
            <div><%=project.introduction%></div>
        <%})%>
    </div>
</body>
</html>
