<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>更多</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <h3><a href="https://gfafei.github.io/game-2048/">2048</a></h3>
        <div>
            数字方块小游戏，简单有趣
        </div>
        <h3>whiteboard</h3>
        <div>
            共享画板
        </div>
    </div>
</body>
</html>
